{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "no-console": 0,
        "no-unused-vars": 1,
        "comma-dangle": 1
    }
  }
  